.graphiql-container .graphiql-plugin {
  display: flex;
  overflow: hidden;

  .graphiql-doc-explorer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .graphiql-doc-explorer-content {
    display: flex;
    flex-direction: column;

    // <<<<<<< 显示滚动条关键代码
    flex: auto;
    height: 0;
    overflow-y: auto;

    // 确保子节点不会重叠
    & > * {
      flex: 1 0 auto;
    }
    // >>>>>>>>>>
  }
}
